body {
    font-family: Arial, Tahoma, sans-serif;
    padding: 10px 20px;
    margin: 0;
    background-color: #ffffff;
}

.game-field {
    float: left;
}

.rating-panel {
    float: left;
    margin: 0 0 0 20px;
    width: 200px;
}

.rating-panel .title {
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px solid #aaa;
}

.rating-panel .rating-list ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.rating-panel .rating-list ol li {
    padding: 5px;
    background-color: #fff;
}

.rating-panel .rating-list ol li:nth-child(odd) {
    background-color: #aaa;
}

.info-panel {
    clear: both;
}

.info-panel .scores,
.info-panel .result {
    display: inline-block;
    width: 100px;
}
